* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 canvas {
  background-color: #3c3c3c;
 }
 body {
  background-color: #EEE;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 }